body {
	background-color: blue;
	align-content: center;
}

.Eightball {
	margin: 0 auto;
}

.Eightball-ball {
	text-align: center;
	background-color: black;
	border-radius: 100%;
	color: white;
	font-size: 1.5rem;
	height: 300px;
	width: 300px;
	inline-size: min-content;
}
