body {
	background-color: blue;
}

.Eightball {
	text-align: center;
	background-color: black;
	border-radius: 100%;
	margin-left: 20%;
	color: white;
	font-size: 2rem;
	width: 300px;
	height: 300px;
}

.Container {
	position: relative;
	top: 30%;
	left: 18%;
	text-align: center;
	width: 200px;
}

p {
	text-align: center;
	line-height: 100%;
}
